{%- macro button(label, link="#", newtab=False, type="primary", color=None, hover_invert=False, glass=True) -%}
  {%- if glass -%}
    <a 
      href="{{ link }}" 
      {{ "target='_blank'" if newtab else "" }}
      class="no-underline inline-block hover:opacity-100 {{ "" if type == 'primary' else 'intersect:animate-fade opacity-0' }}"
    >
      <div class="glass-t hover:bg-opacity-20 hover:backdrop-blur-none
        {{ 'px-4 py-2 rounded-md font-bold intersect:animate-fade opacity-0' if type == 'primary' 
        else 'px-2 py-0.5 rounded-sm text-txt-light dark:text-darkmode-txt-light' }}"
      >
        {{ label }}
      </div>
    </a>
  {%- else -%}
    <a 
      href="{{ link }}" 
      {{ "target='_blank'" if newtab else "" }}
      class="no-underline inline-block group intersect:animate-fadeLeft opacity-0 {{ 'hover:opacity-100' if hover_invert else '' }}"
    >
      <div class="{{ color if color else 'bg-bg-t dark:bg-darkmode-bg-t' }} {{ 'p-0.5 rounded-md' if type == 'primary' else 'p-[1.5px] rounded-sm' }}">
        <div class="bg-bg-p dark:bg-darkmode-bg-p
          {{ 'px-4 py-2 rounded-md' if type == 'primary' else 'px-2 py-0.5 rounded-sm' }}
          {{ 'group-hover:bg-opacity-0' if hover_invert else '' }}"
        >
          <div class="text-transparent bg-clip-text
            {{ color if color else 'bg-bg-t dark:bg-darkmode-bg-t' }}
            {{ 'font-bold' if type == 'primary' else '' }}
            {{ 'group-hover:text-txt-p dark:group-hover:text-darkmode-txt-p' if hover_invert else '' }}"
          >
            {{ label }}
          </div>
        </div>
      </div>
    </a>
  {%- endif -%}
{%- endmacro %}
