{%- macro entry_header(
    title,
    image=None,
    image_alt="",
    author=None,
    author_id=None,
    date=None,
    pub_date=None,
    mod_date=None,
    complexity=None,
    categories=None,
    tags=None,
    show_info=True,
    show_image=False,
    show_author=False,
    show_date=False,
    show_pub_date=False,
    show_mod_date=False,
    show_reading_time=False,
    show_categories=False,
    show_tags=False
  ) -%}

<div class="mt-2">

  {%- if image and show_image -%}
    <div class="mb-8 glass rounded-lg intersect:animate-fadeDown opacity-0 intersect-no-queue">
      <img
        class="w-full rounded-lg"
        src="{{ image }}"
        alt="{{ image_alt }}"
        loading="eager"
        height="500"
        width="1200"
      />
    </div>
  {%- endif -%}

  {%- if show_info -%}
    <div class="glass mb-8 p-4 rounded-lg intersect:animate-fade opacity-0 intersect-no-queue">
      <h1 class="mb-4">{{ title }}</h1>
      <ul>
        {%- if author and show_author -%}
          <li class="mr-1 inline-block">
            <a href="/authors/{{ author_id }}">
              <i class="las la-user-circle -mt-1 inline-block"></i>
              {{ author }}
            </a>
          </li>
        {%- endif -%}

        {%- if date and show_date -%}
          <li class="mr-1 inline-block">
            <i class="las la-calendar-alt ml-2 -mt-1 inline-block"></i>
            {{ frappe.format_date(date) }}
          </li>
        {%- endif -%}

        {%- if pub_date and show_pub_date -%}
          <li class="mr-1 inline-block">
            <i class="las la-calendar-alt ml-2 -mt-1 inline-block"></i>
            Published {{ frappe.format_date(pub_date) }}
          </li>
        {%- endif -%}

        {%- if mod_date and show_mod_date -%}
          <li class="mr-1 inline-block">
            <i class="las la-calendar-alt ml-2 -mt-1 inline-block"></i>
            Updated {{ frappe.format_date(mod_date) }}
          </li>
        {%- endif -%}

        {%- if complexity and show_reading_time -%}
          <li class="mr-1 inline-block">
            <i class="las la-clock ml-2 -mt-1 inline-block"></i>
            ~{{ complexity * 2 }} min read
          </li>
        {%- endif -%}

        {%- if categories and show_categories -%}
          <li class="mr-1 inline-block">
            {%- for category in categories -%}
              <a href="/blog/categories/{{ category | slug }}">
                <i class="las la-folder ml-2 -mt-1 inline-block"></i>
                {{ category }}
              </a>
            {%- endfor -%}
          </li>
        {%- endif -%}

        {%- if tags and show_tags -%}
          <li class="mr-1 inline-block">
            {%- for tag in tags -%}
              <a href="/blog/tags/{{ tag | slug }}">
                <i class="las la-hashtag ml-2 -mt-1 inline-block"></i>
                {{ tag }}
              </a>
            {%- endfor -%}
          </li>
        {%- endif -%}
      </ul>
    </div>
  {%- endif -%}
</div>
{%- endmacro %}
