{%- macro share(title="", description="", folder="", id="") -%}
  {% set base_url = frappe.utils.get_url() %}
  {% set url = base_url ~ "/" ~ folder ~ "/" ~ id %}
  {% set email_link = "mailto:?subject=" ~ title ~ "&body=Check this out: " ~ url ~ "%0D%0A%0D%0A" ~ description %}
  {% set facebook_link = "https://facebook.com/sharer/sharer.php?u=" ~ url %}
  {% set twitter_link = "https://twitter.com/intent/tweet/?text=" ~ title ~ "&url=" ~ url %}
  {% set pinterest_link = "https://pinterest.com/pin/create/button/?url=" ~ url ~ "&media=&description=" ~ description %}
  {% set icon_class = "glass-t rounded text-txt-p dark:text-darkmode-txt-p flex h-9 w-9 items-center justify-center text-center intersect:animate-fadeUp opacity-0 hover:bg-opacity-20" %}
  
  <ul class="flex flex-wrap items-center">
    <li class="inline-block px-1">
      <a href="{{ email_link }}" title="Share by Email" aria-label="Share by email"
         target="_blank" rel="noreferrer noopener" class="{{ icon_class }}">
        <i class="las la-envelope text-xl"></i>
      </a>
    </li>
    <li class="inline-block px-1">
      <a href="{{ facebook_link }}" aria-label="Share on Facebook"
         target="_blank" rel="noreferrer noopener" class="{{ icon_class }}">
        <i class="lab la-facebook text-xl"></i>
      </a>
    </li>
    <li class="inline-block px-1">
      <a href="{{ twitter_link }}" aria-label="Share on Twitter"
         target="_blank" rel="noreferrer noopener" class="{{ icon_class }}">
        <i class="lab la-twitter text-xl"></i>
      </a>
    </li>
    <li class="inline-block px-1">
      <a href="{{ pinterest_link }}" aria-label="Share on Pinterest"
         target="_blank" rel="noreferrer noopener" class="{{ icon_class }}">
        <i class="lab la-pinterest text-xl"></i>
      </a>
    </li>
  </ul>
{%- endmacro %}
