---
import type { SocialLinks } from "@/types";
import {
  FaDiscord,
  FaEnvelope,
  FaFacebook,
  FaGithub,
  FaInstagram,
  FaLinkedin,
  FaPinterest,
  FaTiktok,
  FaGlobe,
  FaYoutube,
} from "react-icons/fa";

interface Props {
  links?: SocialLinks;
}

const { links } = Astro.props;

const liClass = "inline-block px-1 intersect:animate-fade opacity-0";
const iconClass =
  "glass-t rounded text-txt-p dark:text-darkmode-txt-p flex h-9 w-9 items-center justify-center text-center";

// icon mapping
const platforms = {
  discord: { icon: FaDiscord, label: "Discord" },
  email: { icon: FaEnvelope, label: "Email", prefix: "mailto:" },
  facebook: { icon: FaFacebook, label: "Facebook" },
  github: { icon: FaGithub, label: "GitHub" },
  instagram: { icon: FaInstagram, label: "Instagram" },
  linkedIn: { icon: FaLinkedin, label: "LinkedIn" },
  pinterest: { icon: FaPinterest, label: "Pinterest" },
  tiktok: { icon: FaTiktok, label: "TikTok" },
  website: { icon: FaGlobe, label: "Website" },
  youtube: { icon: FaYoutube, label: "YouTube" },
};
---

{links && (
  <ul class="py-2 flex items-center flex-wrap">
    {Object.entries(platforms).map(([key, { icon: Icon, label, prefix }]) =>
      links[key as keyof SocialLinks] ? (
        <li class={liClass} key={key}>
          <a
            class={iconClass}
            aria-label={label}
            href={`${prefix || ""}${links[key as keyof SocialLinks]}`}
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <span class="sr-only">{label}</span>
            <Icon className="w-6 h-6" />
          </a>
        </li>
      ) : null
    )}
  </ul>
)}
