<section class="mt-[10vh] px-4">
    <div class="max-w-3xl mx-auto bg-white/10 border border-white/20 backdrop-blur-md rounded-xl shadow-md p-8 space-y-10 transition overflow-hidden">
  
      <div class="w-full max-w-lg mx-auto">
        <img src="/assets/fieldmate/images/login-logo.png" alt="Person login" height="128" />
      </div>
  
      <h1 class="text-4xl font-bold text-center">Inloggen</h1>
  
      <div class="prose mx-auto text-left text-gray-800 dark:text-gray-200">
        <p>Log direct in of ontvang een login link per e-mail om toegang te krijgen tot je klantportaal.</p>
      </div>
  
      {% include "templates/includes/forms/login_form.html" %}
    </div>
  </section>
  